<div class="about-container">
  <h1>About Us</h1>
  <p>
    Photographs become a source of inspiration and creativity, reviving our
    passion for images!
  </p>
  <h1>Our Offerings</h1>
  <ul>
    <li>
      Create Albums: Users can create personal albums to organize their photos
      and images into different categories or topics.
    </li>
    <li>
      Image Search and Review: Users can search for images by keywords or tags,
      browse popular works and find inspiration in various galleries and
      collections.
    </li>
    <li>
      Uploading and Storing Images: The site allows users to upload their photos
      and images in high quality and save them on the platform for long-term
      storage.
    </li>
  </ul>
</div>
